@model CadEmprestimoViewModel
@{
    ViewData["Title"] = "Cadastro de Empréstimo";
}

<h1 class="row justify-content-md-center">Cadastro de Empréstimo</h1>
<partial name="_FormCadastro" for="@Model" />